{% extends 'base.html.twig' %}

{% block title %}Valider Commande -Camping.TN
{% endblock %}

{% block content %}
	<h2>Je Passe ma commande</h2>
	<p>Choissisez vos preferances avant de passer votre commande sur Camping.TN .
	</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
			{% set formHtml %}
				{{ form_start(form,{action:path('order_recap')}) }}
				{{ form_label(form.Addresses, 'Choissisez Votre Addrese De Livraison :') }}
	<a href="{{ path('account_address_add') }}">Ajouter une nouvelle addresse</a>
				{{ form_end(form) }}
			{% endset %}
				{{ formHtml|replace({'[br]' : '<br/>'})|raw }}
			</div>
			<div class="col-md-6">
			<div class="text-center">
				<b >Récap de ma commande  :</b><br>
				<p>Retrouver le recapitutilatif de votre panier</p>
				</div>
				<div class="order-summary">
					{% for key,product in cart %}
			<div class="row {% if key > 0  %}mt-2{% endif %}">
							<div class="col-2">
								<img src="/img/{{product.product.illustration}}" alt="" class="img-fluid d-none d-md-block rounded mb-2 ">
							</div>
							<div class="col-8 my-auto">
								{{ product.product.name }}<br/>
								<small>
									{{ product.product.subtitle }}</small>
							</div>
							<div class="col-2 my-auto">
								X
								{{ product.quantity }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}

